# Ignoring directories
# Both the directory itself and its contents will be ignored.
bin/
obj/
/.vs
/Task7.7/.vs
/Task9.6/.vs
/Task9.6.1/.vs/Task9.6.1/v17
/Task9.6.2/.vs
/Task10.5/.vs
/TKTrialBot/.vs
/TKTrialBot_16.0.0/.vs
/C#/TelegramBot_18/.vs
/C#/TelegramBot_18
/C#/UtilityBot_18/.vs/ProjectEvaluation
/C#/UtilityBot_18/.vs/UtilityBot_18/DesignTimeBuild
/C#/UtilityBot_18/.vs/UtilityBot_18/v17
/C#/UtilityBot_18
/UtilityBot_18/.vs
