################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/C#/Task12.1
/.vs
/C#
/Task13.6.1/.vs
/Task13.6.2/.vs
/Task14.3.3/.vs
/Task15.6.6/.vs
/Task16.7.1/.vs/Task16.7.1/v17
/Task17.6.6/.vs
/Task18.4.1/.vs
/SocialNetwork/.vs
/SocialNetwork.Tests/.vs
/Task25.7.1/.vs
/Конспект_СDEV_Шаблоны_и_паттерны.pdf
/Task25.7.1/bin/Debug/net6.0
/Task25.7.1/obj
/Полезные ссылки.txt
/LifeSpot/.vs
/LifeSpot/obj
/MVCStartApp/.vs
/SocialNetwork/obj
/SocialNetwork.Tests/obj
/Task10.5
/Task12.1
/AuthenticationService/.vs
/Конспект_Аутентификация_авторизация.pdf
/MVCStartApp/obj
/GitTest/.vs/GitTest/v17
/TeamWork
/AuthenticationService/obj
/CalculatorTests/obj
/Task13.6.1/obj
/Task13.6.2/obj
/WorkWithFiles
/UtilityBot_18/obj
/TKTrialBot_16.0.0/obj
/Task9.6.2/obj
/Task9.6.1/obj
/Task7.7/obj
/Task5.6/obj
/Task5.5/obj
/Task4.5/obj
/Task4.3/obj
/Task4.2/obj
/Task4.1/obj
/Task3.3/obj
/Task18.4.1/obj
/Task17.6.6/obj
/Task16.7.1/obj
/Task15.6.6/obj
/Task14.3.3/obj
/TK_SocialNetwork/.vs
/SchoolJournal/.vs
*.txt
