@{
    ViewData["Title"] = "View request history";
}

<style>
    table {
        border-spacing: 0 15px;
        align-self: center;
    }

    th {
        background-color: #4287f5;
        color: white;
    }

    th,
    td {
        width: 250;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
    }

    h2 {
        color: #4287f5;
    }
</style>

<div class="text-center">
    <h2 class="display-4" style="text-align: left">История запросов</h2>
    <br>
    <table>
        <tr>
            <td>Идентификатор</td>
            <td>Дата</td>
            <td>Url</td>
        </tr>
        @foreach (var history in Model)
        {
            <tr>
                <td>@history.Id</td>
                <td>@history.Date</td>
                <td>@history.Url</td>
            </tr>
        }
    </table>
</div>