@{
    ViewData["Title"] = "Школьный Журнал";
}

<div class="text-center">
    <h1 class="display-4">Здесь будет картинка</h1>
    @if (User.Identity.IsAuthenticated == false)
    {
        <p>Для доступа к дополнительной информации зайдите в свой аккаунт или зарегестрируйтесь.</p>
    }
    else
    {
        @await Html.PartialAsync("_Thanks")
    }
</div>
