@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="display-4">Все статьи</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Добавить статью</a></p>
</div>
